<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DevQuest 관리자-기업 통계</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/admin/adminDashboard.css">
</head>
<body>
<div class="logo">
  <a href="/admin/dashboard">DevQuest</a>
</div>

<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/admin-sidenav :: sidenav}"></div>

<!--sidenav-->
<nav class="top-bar">
  <div class="nav-wrapper">
    <div class="nav-container">
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
        <i class="material-icons material-icons-menu">menu</i>
      </a>
    </div>
  </div>
</nav>

<main>
  <h2><b th:text="${nickname} + ' 관리자님, 안녕하세요!'"></b></h2>

  <div class="col m6 s12">
    <div class="card-title">기업 통계</div>
    <div class="card">
      <div class="card-toolbar">
      </div>
      <div class="card-content">
        <div class="chart-wrapper">
          <canvas id="stacked-bar-chart" width="600" height="600"></canvas>
        </div>
      </div>
    </div>
  </div>

</main>
<!-- jQuery 먼저!! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/admin/bar-chart.js"></script>

<!--sidenav-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- sidenav 초기화 JS -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const elems = document.querySelectorAll('.sidenav');
    M.Sidenav.init(elems);
  });
</script>
</body>
</html>
