remember-me:
  key: dladmldmlzl123

upload:
  path: C:/backend/NBE5-6-3-Team04/uploads/profile

spring:
  application:
    name: NBE5-6-3-Team04
  web:
    resources:
      static-locations: classpath:/static/, file:uploads/profile/
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: jdbc:mysql://localhost:3306/todoRpg
    username: bm
    password: 123qwe!@#
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none  # 개발 중엔 update 권장
    show-sql: true
    properties:
      hibernate:
        format_sql: true

gemini:
  base-url: https://generativelanguage.googleapis.com
  api-key: "AIzaSyDJ2t_TcJ7ZwV0AI5AePRiVdUtqhvnvkN4"

