.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3F2296;
  margin-left: 1rem;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.top-menu {
  margin-left: auto;
}

.logout {
  font-size: 1rem;
  color: #aaa;
  cursor: pointer;
}

.logout:hover {
  color: #333;
}